
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 50% 98%;
    --foreground: 210 60% 10%;

    --card: 0 0% 100%;
    --card-foreground: 210 60% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 60% 10%;

    --primary: 204 100% 18%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 60% 10%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 1 83% 57%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 204 100% 18%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 210 60% 8%;
    --foreground: 210 40% 98%;

    --card: 210 60% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 210 60% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 204 100% 30%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 60% 24%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 60% 24%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 1 83% 57%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 60% 24%;
    --input: 210 60% 24%;
    --ring: 204 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .start-stop-button {
    @apply shadow-lg hover:shadow-xl transition-all duration-300 flex items-center justify-center rounded-full;
  }
  .start-stop-button.running {
    @apply bg-destructive text-destructive-foreground hover:bg-destructive/90;
  }
  .start-stop-button.stopped {
    @apply bg-cbs text-white hover:bg-cbs-light;
  }
}
